@media only screen and (max-width: 767px) {


/* HEADER */
header {
  text-align: center;
  padding: 5%;
  border-bottom:1px solid black;
}
header svg{
  display:block;
  margin:auto;
  width:30%;
  height:30%;
  padding-bottom:5%;
}

main h2{
  font-size:20px;
  text-align:center;
  padding-top:4%;
  padding-bottom:4%;
}

.form-wrapper {
  background-color: #eee;
  border-radius: 10px;
  display:flex;
  flex-direction:column;
  align-items:center;
  text-align:center;
}

form{
  padding:5%;
  text-align:center;
}

.form-boutons{
  text-align: center;
}


label {
  display: block;
  margin-bottom: 10px;
  color: #333;
  font-weight: 500;
  font-size:14px;
}
input[type="text"],
input[type="password"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  width: 70%;
  margin-bottom: 20px;
}
input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* FENETRE MODALE */
.modal-wrapper {
  display: none;
  background-color: rgba(0,0,0,0.5);
  z-index: 9999;
  align-items: center;
  justify-content: center;
}
.modal {
  background-color: #fff;
  border-radius: 10px;
  max-width: 92%;
  max-height:30%;
  text-align: center;
}
.modal h3 {
  margin-top: 0;
  color: #333;
}
.modal p {
  color: #333;
  margin-bottom: 20px;
}

.modal button {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

div.modal-header, div.modal-body, div.modal-footer{
  padding:0px;
}

}